.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-height: 400px;
  overflow-y: auto;

  div {
    margin: 1rem;
  }

  img {
    width: 200px;
    height: 100%;
    cursor: pointer;
    border-radius: 12px;
  }
}
